@page "/"
@using MD.PersianDateTime

<PageTitle>Home</PageTitle>

<h1>تاریخ و ساعت امروز:</h1>
<h3>@dateTimeIR</h3>


@code
{

    string dateTimeIR = new PersianDateTime(DateTime.Now).ToLongDateTimeString();
}
